<h1>Welcome <%= @user.email %> To Dental Credential manager site!. </h1>
<p>
  You have successfully signed up to this app!
  Your username is: <%= @user.email %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>